.intro-section {
    margin-bottom: 29px;
}
.intro-section .skills{
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}
.skills .skill {
    background-color: #0067F6;
    color: white;
    border-radius: 20px;
    padding: 5px 10px;
    margin:3px;
    font-size:13px;
}