.widget {
    text-align: center;
    margin-bottom: 28px;
}

.widget .widget-title {
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.widget .widget-content {
    font-size: 13px;
}

.widget .widget-content p {
    margin-bottom: 5px;
}

.widget .widget-content p:last-of-type {
    margin-bottom: 10px;
}

.widget.card {
    border: 0;
    border-radius: 15px;
    box-shadow: 5px 5px 20px 5px #00000030;
    margin: 10px;
}

.widget.card .widget-title {
    color: #0067f6;
}